<div class="d-flex flex-column h-100">
  <app-nav-bar></app-nav-bar>
    
    <!-- Begin page content -->
    <main class="flex-shrink-0 mt-5">
      <div class="container">
        <div class="row mt-5 mb-5">
            <app-home [name]="myname" lastname="thondamalla" [rolnumber]='number' [array]="my_array"
             (onClick)="mywifenameinparent($event)" (counterincrement)="counterincrements($event)"></app-home>
            This is from child component: <span class="text-danger">{{mywifenameparent}}</span>

            this is cpounter data {{counterintialvalue}};
            <div appMyclass>This is test for Custom Directive</div>

            <div>
              <p>This is demo for changding the data based on @viewchild medthod {{message}}, {{mywifename}}</p>

              {{tutorials}}
            </div>
        </div>
      </div>
    </main>
</div>