.container {
    width: 100%;
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .title {
    width: 100%;
}
.container .content {
    width: 100%;
}
.container .content .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.container .content .display .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
}
.container .content .display .badges img:not(:last-child) {
    margin-right: 5px;
}
.editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.editor .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.editor .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}
.editor .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;
}
.editor .CodeMirror pre {
    white-space: pre !important;
}
